@model itgsgroup.Models.hrms.ShiftViewModel

@{
    ViewData["Title"] = "Shift";
    ViewData["active"] = "SHIFT";
    var companys = ViewBag.Companys as List<Tuple<string, int>>;
}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.body.addEventListener("click", function (event) {
            if (event.target.id.startsWith("deleteButton-")) { // Add a closing parenthesis here
                var itemId = event.target.getAttribute("data-item-id");
                var item_id = document.getElementById("confirmDelete");
                item_id.value = itemId;
            }

            if (event.target.id.startsWith("editButton-")) {
                // Extract the item ID and other attributes
                var itemId = event.target.getAttribute("data-item-id");
                var itemfrom = event.target.getAttribute("data-item-from");
                var itemto = event.target.getAttribute("data-item-to");
                var itemcompanyId = event.target.getAttribute("data-item-companyId");

                // Assuming you have HTML elements with these IDs
                var item_id = document.getElementById("item_id");
                var item_from = document.getElementById("item_from");
                var item_to = document.getElementById("item_to");
                var item_companyId = document.getElementById("item_companyId");

                // Set values to the input fields
                item_id.value = itemId;
                item_from.value = itemfrom;
                item_to.value = itemto;
                item_companyId.value = itemcompanyId;
            }
        });
    });
</script>


<!-- Page Header -->
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Shift</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active">Shift</li>
            </ul>
        </div>
        <div class="col-auto float-end ms-auto">
            <a href="#" class="btn add-btn" data-bs-toggle="modal" data-bs-target="#add_shift"><i class="fa-solid fa-plus"></i> Add Shift</a>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table id="example1" class="table table-striped custom-table leave-employee-table mb-0">
                <thead>
                    <tr>
                        <th>
                            From
                        </th>
                        <th>
                            To
                        </th>
                        <th>
                            Company
                        </th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.shifts)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.from)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.to)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.company.name)
                            </td>
                            <td class="text-end">
                                <div class="dropdown dropdown-action">
                                    <a href="#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="material-icons">more_vert</i></a>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#edit_ticket" id="editButton-@item.Id" data-item-id="@item.Id" data-item-from="@item.from" data-item-to="@item.to" data-item-companyId="@item.companyId"><i class="fa-solid fa-pencil m-r-5"></i> Edit</a>
                                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#delete_ticket" id="deleteButton-@item.Id" data-item-id="@item.Id"><i class="fa-regular fa-trash-can m-r-5"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>


<!-- Add Ticket Modal -->
<div id="add_shift" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Shift</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Index">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">From</label>
                        <input asp-for="from" class="form-control" type="time">
                        <span asp-validation-for="from" class="text-danger"></span>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">To</label>
                        <input asp-for="to" class="form-control" type="time">
                        <span asp-validation-for="to" class="text-danger"></span>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Company</label>
                        <select asp-for="companyId" class="form-control">
                            @if (companys != null)
                            {
                                @foreach (var company in companys)
                                {
                                    <option value="@company.Item2">@company.Item1</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="companyId" class="text-danger"></span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Add Ticket Modal -->
<!-- Edit Ticket Modal -->
<div id="edit_ticket" class="modal custom-modal fade" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Shift</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Edit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" id="item_id" />
                    <div class="input-block mb-3">
                        <label class="col-form-label">From</label>
                        <input asp-for="from" class="form-control" type="time" id="item_from">
                        <span asp-validation-for="from" class="text-danger"></span>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">To</label>
                        <input asp-for="to" class="form-control" type="time" id="item_to">
                        <span asp-validation-for="to" class="text-danger"></span>
                    </div>
                    <div class="input-block mb-3">
                        <label class="col-form-label">Company</label>
                        <select asp-for="companyId" class="form-control" id="item_companyId">
                            @if (companys != null)
                            {
                                @foreach (var company in companys)
                                {
                                    <option value="@company.Item2">@company.Item1</option>
                                }
                            }
                        </select>
                        <span asp-validation-for="companyId" class="text-danger"></span>
                    </div>
                    <div class="submit-section">
                        <button class="btn btn-primary submit-btn">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- /Edit Ticket Modal -->
<!-- Delete Ticket Modal -->
<div class="modal custom-modal fade" id="delete_ticket" role="dialog">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-body">
                <div class="form-header">
                    <h3>Delete Shift</h3>
                    <p>Are you sure want to delete?</p>
                </div>
                <div class="modal-btn delete-action">
                    <div class="row">
                        <div class="col-6">
                            <form asp-action="ConfirmDelete">
                                <input type="hidden" name="id" id="confirmDelete" />
                                <button type="submit" class="btn btn-primary continue-btn w-100">Delete</button>
                            </form>
                        </div>
                        <div class="col-6">
                            <a href="javascript:void(0);" data-bs-dismiss="modal" class="btn btn-primary cancel-btn">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Delete Ticket Modal -->


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
